#textTarget {
    color: white;
    background-color: black;
}

nav > a {
    font-size: 200%;
}

.error {
    border: 1px red dotted;
}

.checked {
    color: gray;
    text-decoration: line-through;
}

#textBox {
    border: 2px red solid;
    max-width: 15%;
    max-height: 50px;
    overflow: scroll;
    overflow-wrap: break-word;
}

#scrollTarget {
    border: 2px blue solid;
    overflow: scroll;
    overflow-wrap: break-word;
    max-height: 200px;
}