<!DOCTYPE html>
<html lang="sv">
<head>
    <!--META TAGS-->
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width”>
    <!--END META TAGS-->

    <title>Uppgift 4 - Gesällprov</title>

    <!--JS IMPORTS-->
    <script src="../static/jquery/jquery-3.2.1.min.js"></script>
    <script src="../static/jquery/jquery-ui.min.js"></script>
    <script src="../static/jquery/jquery.validate.min.js"></script>
    <script src="../static/script.js"></script>
    <!--END JS IMPORTS-->

    <!--CSS IMPORTS-->
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="../static/styles.css">
    <!--END CUSTOM CSS-->
    <!--END CSS IMPORTS-->
</head>
<body>
    <header id="page_header">
        <h1>Titel!</h1>
    </header>
    <main id="main">
        <aside class="presets">
            <p>
                These are presets
            </p>
        </aside>
        <div class="container">
            <section class="search-tools">
                <p>
                    This is the search tools
                </p>
            </section>
            <div class="search-results">
                <p>
                    This is the search results
                </p>
            </div>
        </div>
    </main>
    <footer id="page_footer">
        <h2>Footer!</h2>
    </footer>
</body>
</html>