body {
    margin: 0 auto;
    width: 75%;
}

p {
    font: normal normal medium Arial, Helvetica, sans-serif;
}

a.first_example:link {
    color: orange;
    text-decoration: none;
}
a.first_example:hover {
    color: red;
    background-color: yellow;
    text-decoration: underline;
    cursor: crosshair;
}
a.first_example:active {
    color: yellow;
    background-color: red;
}
a.first_example:visited {
    color: orangered;
}

a.button_link:link {
  padding: 5px;
  border: 2px solid green;
  border-radius: 5px;
  color: green;
}
a.button_link:visited {
  border-color: grey;
  color: grey;
}
a.button_link:hover {
  border-color: lime;
  color: lime;
}
a.button_link:active {
  border-color: yellow;
  color: yellow;
}

a.picture_link:link {
    background-image: url(download.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: left center;
    padding: 5px 5px 5px 25px;
    border: 2px solid black;
    border-radius: 5px;
}
a.picture_link:visited {
  border-color: grey;
  color: grey;
}
a.picture_link:hover {
  border-color: yellow;
  color: yellow;
  background-color: red;
}
a.picture_link:active {
  border-color: red;
  color: red;
  background-color: yellow;
}
