body {
  margin: 0 auto;
  width: 60%;
}

header {
  padding: 10px;
}

footer {
  padding: 10px;
  clear: both;
  background-color: rgb(204, 135, 207);
}

div:not(.wrapper) {
  padding: 10px;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

.wrapper {
  width: 75%;
  float: left;
}

.main_content {
  width: 75%;
  float: right;
  background-color: rgb(200, 155, 137);
}

.main_sidebar {
  width: 25%;
  float: left;
  background-color: rgb(119, 207, 158);
}

.other_sidebar {
  width: 25%;
  float: right;
  background-color: rgb(173, 188, 228);
}

.min_width {
  height: 50px;
  min-width: 200px;
  background-color: rgb(142, 245, 48);
}
